@import "../common.scss";
.friend-item-wrapper {
    border: 1px solid $border-color;
    box-sizing: border-box;
    padding: 0 1rem 0 1rem;
    border-radius: 4px;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    .username-link {
        text-decoration: none;
        font-weight: 600;
        font-size: 12pt;
        color: black;
    }
    .username-link:hover {
        color: $accent-color;
    }
    #friend-status {
        @extend %button;
        
        &:not(:disabled) {
            &:hover, &:focus {
                box-shadow: none;
            }
        }
    }
    .dropdown-menu {
        @extend %dropdown;
    }
}