p{
  font-size: 8pt;
  margin-top: -1pt;
  margin-bottom: 0;
}
a{
  text-decoration: none;
  color: #181818;
}
a:hover{
  color:#0275B1;
}
.nav{
  background-color: white;
}
.navRow {
  display: flex;
  height: 40px;
  flex-direction:row;
  padding-left: 13%;
  align-items: center;
}

.search-input-container,.right-side-menu,.user,.log-out{
  border-left: 1px solid #D9D9D9;
  height:100%;
  display: flex;
  align-items: center;
  padding-left: 1%;
  // vertical-align: middle;
}
.search-input{
  border: none;
  font-size: 10pt;
  margin-left: 2%;
}
::-webkit-input-placeholder,::-moz-placeholder{
    color:#BABABA;
}

.right-side-menu{
  margin-left: 20%;
  position: relative;
  float: right;
  padding-left: 2%;
}
.icons{
  display: flex;
  align-items: center;
  height: 100%;
}
.log-out{
  padding-left: 5%;
}
.icons>a,.logout-div{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right:30%;;
}
.user{
  margin-left: 50%;
  margin-right: 30%;
  padding-left: 5%;

}