$header-width: 100%;
$header-height: 250px;
$bg-path: "../images/profile-bg.png";
$text-color: #181818;
$button-border-color: #dadada;
.profileHeader {
    margin-top: 90px;
    background-color: white;
    margin-bottom: 50px;
    width: $header-width;
    height: $header-height;
}

.image-section {
    height: 50%;
    background: url($bg-path) bottom;
    background-size: auto 100%;
    .edit-profile-button {
        float: right;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 4px;
        border: 1px solid $button-border-color;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 1.8rem;
        margin-top: 0.9rem;
        margin-right: 0.9rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        font-style: normal;
        color: $text-color;
        font-size: 7pt;
        text-align: center;
        text-transform: uppercase;
    }
    .edit-icon {
        margin-right: 2px;
        color: $text-color;
        height: 15pt;
    }
}

.row1 {
    margin-top: 1.5rem;
    display: inline-flex;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 9pt;
     :first-child {
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11pt;
    }
}