@import "../common.scss";
$type-text-color: rgba(24, 24, 24, 0.6);
.notice-item-wrapper {
    border: 1px solid $border-color;
    box-sizing: border-box;
    padding: 0 2rem 0 2rem;
    border-radius: 4px;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    .username-link {
        text-decoration: none;
        font-weight: 600;
        font-size: 12pt;
        color: black;
        width: 20%;
    }
    .username-link:hover {
        color: $accent-color;
    }
    .type-wrapper {
        display: inline-flex;
        align-items: center;
        padding-left: 2rem;
        height: 2rem;
        width: 30%;
        border-left: 2px solid $accent-color;
        >p {
            margin: 0 0 0 0;
            color: $type-text-color;
        }
    }
    .button-wrapper {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
    }
    .accept-button,
    .decline-button {
        background-color: $accent-color;
        color: white;
        width: 40%;
        height: 2rem;
        font-size: 9pt;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        border-radius: 4px;
    }
    .decline-button {
        margin-left: 1rem;
        background-color: white;
        color: #B7B7B7;
        border: 1px solid #EAEAEA;
        box-sizing: border-box;
    }
}