@import "../common.scss";

.editable-post-wrapper {
  background-color: white;
  box-sizing: border-box;
  box-shadow: $post-box-shadow;
  border-radius: $radius;
  width: 100%;
  display: flex;
  justify-content: center;

  .editable-post-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15pt;
  }

  .editable-post-header {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid $border-color;
    height: fit-content;
    padding-top: 10pt;
    padding-bottom: 3pt;
  
    & > b {
      font-style: normal;
      font-weight: 500;
      font-size: 10pt;
      text-transform: uppercase;
      color: black;
    }
  
    .privacy-select {
      font-style: normal;
      font-size: 10pt;
      margin-left: 1.5rem;
    }  
  }

  .editable-post-input-wrapper {
    margin-top: 1.0rem;
    
    .title-text-area {
      width: 100%;
      min-height: 20px;
      font-size: 14pt;
      font-weight: 500;
      border: none;
      outline: 0;
      resize: none;
      font-style: italic;
      margin-bottom: -5pt;
    }

    .post-text-area {
      width: 100%;
      min-height: 80px;
      font-size: 12pt;
      border: none;
      outline: 0;
      resize: none;
    }

    .preview-image {
      width: 100%;
      margin-bottom: 20px;
    }
  }  

  .editable-post-buttons-wrapper {
    display: flex;
    float: right;
    padding-bottom: 15pt;
    
    .icon {
      @extend %icon;
      margin: 2px 0.2rem;
    }
  
    .post-button {
      @extend %button;
      margin-left: 0.8rem;
    }

    .discard-button {
      @extend %button;
      background-color: #fa93a7;
      &:not(:disabled) {
        &:hover, &:focus {
          outline: none;
          background-color: #e73a5a;
        }
      }
      margin-left: 0.8rem;
    }
  }
}
