@import "../common.scss";

.privacy-selector-modal {
    @extend %modal;

    max-width: none !important;
    
    .privacy-button-wrapper {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        .privacy-button {
            background-color: transparent;
            height: 40pt;
            width: 40pt;
            border: 0px solid $border-color;
            margin: 0 5px 0 5px;
            text-align: center;
            border-radius: 500px;
            outline: none;
            cursor: pointer;
            
            &:hover, &.selected {
                background-color: #438bff49;
                color: $secondary-color;
            }

            svg {
                margin-top: 5px;
                font-size: 25px;
            }
        }
    }

    .privacy-message {
        margin-top: 20pt;
        font-size: 12pt;
        font-weight: 600;
        letter-spacing: -0.01em;
        text-align: center;
    }

    .privacy-select-button-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        
        .privacy-select-button {
          @extend %button;
          width: 100%;
        }
    }

    .privacy-people-selector {
        margin-top: 30pt;
        font-size: 10pt;

        .list-group-item {
            // border: none;
            // background-color: transparent;

            .delete-button {
                float: right;
                font-size: 17px;
                cursor: pointer;

                &:hover {
                    color: $accent-color;
                }
            }
        }

    }
    
}