@import "../common.scss";

.upload-image-modal {
  @extend %modal;

  .dropzone {
    text-align: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 5px;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
  }

  .preview-image {
    margin-top: 20px;
    box-shadow: $post-box-shadow;
    width: 100%;
  }
  
  .upload-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    
    .upload-button {
      @extend %button;
      width: 100%;
    }
  }
}
