@import "../common.scss";

.user-selector-wrapper {
    margin-top: 30pt;
    font-size: 10pt;

    .user-selector-input {
        margin-bottom: 10pt;
    }

    .list-group-item {
        padding: 0.75rem;
        
        .delete-button {
            float: right;
            font-size: 17px;
            cursor: pointer;

            &:hover {
                color: $accent-color;
            }
        }
    }

}

.privacy-loading-circle {
    margin-top: 30pt;
    text-align: center;
}