@import "../common.scss";

.user-selector {
    margin-top: 30pt;
    font-size: 10pt;

    .list-group-item {
        // border: none;
        // background-color: transparent;

        .delete-button {
            float: right;
            font-size: 17px;
            cursor: pointer;

            &:hover {
                color: $accent-color;
            }
        }
    }

}

.privacy-loading-circle {
    margin-top: 30pt;
    text-align: center;
}