@import "../common.scss";
$header-width: 100%;
$header-height: 250px;
$bg-path: "../../images/profile-bg.png";
.profileHeader {
    background-color: white;
    padding-bottom: 1rem;
    width: $header-width;
    height: $header-height;
    border-radius: $radius;
    overflow: hidden;
}

.image-section {
    height: 50%;
    background: url($bg-path) bottom;
    background-size: auto 100%;
}

.row1 {
    margin-top: 1.5rem;
    display: inline-flex;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 9pt;
     :first-child {
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11pt;
    }
}

.row2 {
    float: right;
    padding-right: 3rem;
    button {
        @extend %button;
        width: 10rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .edit-icon {
        margin-right: 2px;
        color: white;
        height: 15pt;
    }
    #friend-status {
        @extend %button;
        &:not(:disabled) {
            &:hover,
            &:focus {
                box-shadow: none;
            }
        }
        cursor: default;
    }
    .dropdown-menu {
        @extend %dropdown;
    }
}